@import "../../style/Utils/Variables.scss";

.header {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_link {
        text-decoration: none;
        color: $secondary-color;
        margin-right: 10px;
    }
    &_logo {
        height: 75px;
    }
}
