.header {
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_link {
        text-decoration: none;
    }
    &_logo {
        height: 75px;
    }
}
